label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #7d7d7d;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
}

select {
    width: 100%;
    padding: 16px 20px;
    border: none;
}

