export default {
    firebase : {
        apiKey: "$apiKey",
        authDomain: "$authDomain",
        databaseURL: "$databaseURL",
        projectId: "$projectId",
        storageBucket: "$storageBucket",
        messagingSenderId: "$messagingSenderId"
    },
    general : {
        uploadBucketName: "$uploadBucketName",
        uploadPubSubTopic: "$uploadPubSubTopic",
    }
}
